body{
    margin: 25px;
}



.parent{

    position: relative;
    height: 80%;
    padding: 4%;
    border: 1px dashed green;

    /* Create a flexible container which makes all items flexible */
    display: flex;
    /* Align Flexible items horizontally */
    justify-content: center;

     /* Align felxible items vertically  */
    align-items: center;
    /* flex-direction: column; */
    background-color:coral;

}


.child{
    display: flex;
    background-color: aquamarine;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-style: italic;

}

.position{
    /* Absolute position is relative to parent, if parent is static */
    /* Absolute position is relative to viewport, if parent is non-static */
    
    position: absolute;
    
    /* left, top from original position of element */
    top: 0px;
    left: 0px;

}
