body{
    margin: 25px;
}



.parent{
    
    position: relative;
    height: 80%;
    padding: 4%;
    border: 1px dashed green;

    /* Create a flexible container which makes all items flexible */
    display: flex;
    /* Align Flexible items horizontally */
    justify-content: center;

     /* Align felxible items vertically  */
    align-items: center;
    /* flex-direction: column; */
    background-color:coral;
    height: 3000px;

}


.child{
    display: flex;
    background-color: aquamarine;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-style: italic;

}

.position{
    /* Absolute position is fixed to the view port whether parent postion is static or non-static */
    
    position: fixed;
    
    /* left, top from original position of element */
    top: 0px;
    left: 0px;

}
