
.parent{
    height: 80%;
    padding: 4%;
    border: 1px dashed green;

    /* Create a flexible container which makes all items flexible */
    display: flex;
    /* Align Flexible items horizontally */
    justify-content: center;

     /* Align felxible items vertically  */
    align-items: center;
    flex-direction: column;
    background-color:coral;
    
}


.child{
    display: flex;
    background-color: aquamarine;
    margin: 2%;
    border: 1px solid black;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    
}

.postion{
    /* Static is default value of position of every element in html- means the positon the element won't change as it is defult positon  */

    position: static;
    
    top: 20px;
    left: 50px;

}