body{
    margin: 20px;
}
.parent{
    
    height: 80%;
    padding: 0px;
    border: 1px dashed green;

    /* Create a flexible container which makes all items flexible */
    display: flex;
    /* Align Flexible items horizontally */
    justify-content: left;

     /* Align felxible items vertically  */
    align-items: left;
    background-color:coral;
    height: 3000px;
    
}


.child{
    display: flex;
    background-color: aquamarine;
    /* margin: 2%; */
    border: 1px solid black;
    height: 150px;
    width: 150px;
    justify-content: left;
    align-items: left;
    
}

.postion{
    /* By using sticky position the element stick to its place whether page scrolls up  */

    position: sticky;
    
    top: 20px;
    left: 50px;

}