/* Using ID(#) selectors in external css */
/* #h2Title {
         font-size: 50px;
         font-family:'Courier New', Courier, monospace;
         color:darkblue;
} */

/* Universal(*) selector */
*{
    font-family: 'Courier New', Courier, monospace;
}

/* Using class(.) selector */
.mandatory_fields{
    font-weight: bold;
}

.container{
    background-color:darkturquoise;
}

.header{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/586/244/small/abstract-banner-design-web-templates-horizontal-header-web-banner-modern-abstract-cover-header-background-for-website-design-social-media-cover-advertising-banner-flyer-invitation-card-free-vector.jpg");
}

.title {
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    color:darkblue;
    
    background-color: gainsboro;
    border: 1px groove black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    margin-left: 0px;
            /* Top right bottom left */
    margin:   10px 25px 20px 10px;
    padding:  5px 10px 5px 30px;

         /* TopBottom Rightleft */
    margin: 20px 10px;
    padding: 20px 10px;      
}
/* Apply this query as long as max-width is 600px */
/* For Mobile */
@media screen and (max-width:600px){

.title{
    background-color:cornsilk;
    font-size: 40px;
}
.container{
    background-color:chartreuse;
    font-size: 20px;
}
.header{
    background-image: url("https://cdn.xxl.thumbs.canstockphoto.com/futuristic-html-background-with-robot-head-hologram-coding-programming-and-technology-concept-3d-stock-photography_csp86823108.jpg");
}
}

/* Apply this query when width is from 601px to 1000px */
/* For Tablets */
@media screen and (min-width:601px) and (max-width:1000px){
    .title{
        background-color:rgb(255, 220, 249);
        font-size: 40px;
    }
    .container{
        background-color:rgb(196, 189, 191);
        font-size: 20px;
    }
    .header{
        background-image: url("https://miro.medium.com/max/800/0*JUUIaKYvIBQq9p9y.jpg");
    }
    }  
}